Task 6: analysis

In [1]:
import pandas as pd
from datetime import datetime, timedelta
import re

# Load the data
try:
    df = pd.read_csv('../data/processed/amharic_ecommerce_data.csv')
except FileNotFoundError:
    print("Error: amharic_ecommerce_data.csv not found. Please upload the file.")
    # Exit or handle the error appropriately
    exit() # Or use sys.exit() if imported sys

In [9]:
# --- Data Preparation ---
# Convert timestamp to datetime objects
df['timestamp'] = pd.to_datetime(df['date'])

vendor_metrics = {}

for vendor_name, vendor_df in df.groupby('channel'):
    vendor_metrics[vendor_name] = {}

    # Activity & Consistency: Posting Frequency
    if not vendor_df.empty:
        time_range = vendor_df['timestamp'].max() - vendor_df['timestamp'].min()
        total_posts = len(vendor_df)
        # Add a small value to avoid division by zero if all posts are on the same timestamp
        time_range_weeks = time_range.total_seconds() / (7 * 24 * 3600) + 1e-9
        posting_frequency = total_posts / time_range_weeks
        vendor_metrics[vendor_name] = posting_frequency
    else:
        vendor_metrics[vendor_name] = 0
print("======= Frequency of posts per day for each channels ======= ")
pd.DataFrame([vendor_metrics])

======= Frequency of posts per day for each channels =======

    @Leyueqa  @Shewabrand  @ZemenExpress  @aradabrand2  @qnashcom
0  44.160168     6.433629      46.454788      5.532028  12.384886

In [13]:
import numpy as np

def extract_price(text):
    """
    Extracts the first price found in the text.
    Looks for patterns like '1234 ብር', '1234 ETB', or just numbers.
    Returns price as float if found, else np.nan.
    """
    if pd.isnull(text):
        return np.nan
    # Look for patterns like '1234 ብር' or '1234 ETB'
    match = re.search(r'(\d[\d,\.]*)\s*( ብር| ETB)?', str(text))
    if match:
        # Remove commas and convert to float
        price_str = match.group(1).replace(',', '')
        try:
            return float(price_str)
        except ValueError:
            return np.nan
    return np.nan

# Apply the extraction to the 'post_text' column (or 'text' if that's the column name)
# Adjust the column name as needed
if 'text' in df.columns:
    df['price'] = df['text'].apply(extract_price)
elif 'text' in df.columns:
    df['price'] = df['text'].apply(extract_price)
else:
    print("No 'post_text' or 'text' column found for price extraction.")

In [14]:
df['price'].isna().sum()

np.int64(1013)

In [16]:
df_with_price = df[df['price'].notna()]
df_with_price

,Unnamed: 0,channel,message_id,date,sender_id,text,media_type,media_path,clean_text,tokens,timestamp,price
3,3,@ZemenExpress,6991,2025-06-21 16:35:51+00:00,-1001307493052,💥💥...................................💥💥\n\n📌Sa...,MessageMediaPhoto,data/media/photo_2025-06-21_16-35-51 (15).jpg,2200 ዋጋ፦ 2700 ብር ውስን ፍሬ ነው ያለው አድራሻ መገናኛ መሰረት ...,2200 ዋጋ፦ 2700 ብር ውስን ፍሬ ነው ያለው አድራሻ መገናኛ መሰረት ...,2025-06-21 16:35:51+00:00,2200.0
7,7,@ZemenExpress,6987,2025-06-21 08:07:31+00:00,-1001307493052,💥💥...................................💥💥\n\n3pc...,MessageMediaPhoto,data/media/photo_2025-06-21_08-07-31 (15).jpg,3 በማንኛውም ጠርሙስ ጫፍ የሚገጠም ለዘይት እና መሰል ነገሮች መቀነሻ የ...,3 በማንኛውም ጠርሙስ ጫፍ የሚገጠም ለዘይት እና መሰል ነገሮች መቀነሻ የ...,2025-06-21 08:07:31+00:00,3.0
8,8,@ZemenExpress,6986,2025-06-21 08:07:11+00:00,-1001307493052,💥💥...................................💥💥\n\n3pc...,MessageMediaDocument,data/media/document_2025-06-21_08-07-11 (3).mp4,3 በማንኛውም ጠርሙስ ጫፍ የሚገጠም ለዘይት እና መሰል ነገሮች መቀነሻ የ...,3 በማንኛውም ጠርሙስ ጫፍ የሚገጠም ለዘይት እና መሰል ነገሮች መቀነሻ የ...,2025-06-21 08:07:11+00:00,3.0
9,9,@ZemenExpress,6985,2025-06-21 05:42:46+00:00,-1001307493052,💥💥...................................💥💥\n\n📌1 ...,MessageMediaPhoto,data/media/photo_2025-06-21_05-42-46 (3).jpg,1 ዋጋ፦ 400 ብር ውስን ፍሬ ነው ያለው አድራሻ መገናኛ መሰረት ደፋር ...,1 ዋጋ፦ 400 ብር ውስን ፍሬ ነው ያለው አድራሻ መገናኛ መሰረት ደፋር ...,2025-06-21 05:42:46+00:00,1.0
11,11,@ZemenExpress,6983,2025-06-21 05:42:19+00:00,-1001307493052,💥💥...................................💥💥\n\n📌1 ...,MessageMediaPhoto,data/media/photo_2025-06-21_05-42-19 (7).jpg,1 ዋጋ፦ 400 ብር ውስን ፍሬ ነው ያለው አድራሻ መገናኛ መሰረት ደፋር ...,1 ዋጋ፦ 400 ብር ውስን ፍሬ ነው ያለው አድራሻ መገናኛ መሰረት ደፋር ...,2025-06-21 05:42:19+00:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2486,@aradabrand2,12069,2023-09-04 13:14:16+00:00,-1001397661846,Jordan \nNEW ARRIVAL 😍🔥🔥🔥\nAvailable on hand ...,MessageMediaPhoto,data/media/photo_2023-09-04_13-14-16.jpg,40 41 42 43 4 799 251977808897 2,40 41 42 43 4 799 251977808897 2,2023-09-04 13:14:16+00:00,40.0
2489,2489,@aradabrand2,12066,2023-09-04 13:14:13+00:00,-1001397661846,Nike \nNEW ARRIVAL 😍🔥🔥🔥\nAvailable on hand \n...,MessageMediaPhoto,data/media/photo_2023-09-04_13-14-13.jpg,40 41 42 43 4 199 251977808897 2,40 41 42 43 4 199 251977808897 2,2023-09-04 13:14:13+00:00,40.0
2491,2491,@aradabrand2,12064,2023-09-04 13:14:12+00:00,-1001397661846,Jordan 8\nNEW ARRIVAL 😍🔥🔥🔥\nAvailable on hand...,MessageMediaPhoto,data/media/photo_2023-09-04_13-14-12.jpg,8 40 41 42 43 4 999 251977808897 2,8 40 41 42 43 4 999 251977808897 2,2023-09-04 13:14:12+00:00,8.0
2494,2494,@aradabrand2,12061,2023-09-04 13:13:14+00:00,-1001397661846,Under Armour \nNEW ARRIVAL 😍🔥🔥🔥\nAvailable on...,MessageMediaPhoto,data/media/photo_2023-09-04_13-13-14.jpg,40 41 42 43 3 999 251977808897 2,40 41 42 43 3 999 251977808897 2,2023-09-04 13:13:14+00:00,40.0
2497,2497,@aradabrand2,12058,2023-09-04 13:12:30+00:00,-1001397661846,Chekich\nNEW ARRIVAL 😍🔥🔥🔥\nAvailable on hand ...,MessageMediaPhoto,data/media/photo_2023-09-04_13-12-30.jpg,40 41 42 43 4 999 251977808897 2,40 41 42 43 4 999 251977808897 2,2023-09-04 13:12:30+00:00,40.0

### Average,min, max price per channel

In [17]:
# Calculate min, max, and average price per channel
if 'channel' in df_with_price.columns:
    price_stats = df_with_price.groupby('channel')['price'].agg(['min', 'max', 'mean']).reset_index()
    price_stats.rename(columns={'min': 'Min Price', 'max': 'Max Price', 'mean': 'Average Price'}, inplace=True)
    print("Min, Max, and Average Price per Channel:")
    display(price_stats)
else:
    print("No 'channel' column found in the dataframe.")

Min, Max, and Average Price per Channel:

         channel  Min Price     Max Price  Average Price
0       @Leyueqa        0.0  1.300000e+04   6.743732e+02
1    @Shewabrand        1.0  2.519873e+11   6.154367e+08
2  @ZemenExpress        0.1  4.400000e+03   4.612416e+02
3   @aradabrand2        1.0  9.938049e+08   1.118518e+07
4      @qnashcom        0.1  7.400000e+03   4.741085e+02